body {
  background-color: black;
  font-family: "Poppins sans-serif";
  font-weight: bold;
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: red;
  border-radius: 8px;
}

::-webkit-scrollbar-track {
  background: black;
}

* {
  scrollbar-width: thin;
  scrollbar-color: red black;
}

body {
  -ms-overflow-style: none;
}

body::-ms-scrollbar {
  width: 8px;
}

body::-ms-scrollbar-thumb {
  background-color: red;
  border-radius: 8px;
}

body::-ms-scrollbar-track {
  background: black;
}
